body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none;
}

.login-container {
    background: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 24px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background: linear-gradient(to right, #E74C3C, #3498DB);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

footer {
    margin-top: 20px;
}
